/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Times New Roman', Times, serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* container */

#container {
  width: 100%;
}

/* Main Nav */

#container .nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  border-bottom: 1px solid #e2e2e2;
}

#container .nav .left-side a {
  margin-right: 12px;
  text-decoration: none;
  color: #000;
}

#container .nav .left-side a.space {
  padding: 10px 0;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.9;
  font-weight: 700;
}

#container .nav .left-side a.space:hover {
  text-decoration: underline;
}

#container .nav .middle-logo {
  height: 26px;
  width: 195px;
}

#container .right-side .btn {
  background-color: #567b95;
  border: 1px solid #326891;
  border-radius: 3px;
  padding: 11px 12px 8px;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  line-height: 11px;
  font-weight: 700;
  vertical-align: middle;
}

/* Main content */

#container .content {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.content .hero {
  grid-column: 2/8;
}

.content .hero h1 {
  width: 70%;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 2.5;
  text-align: left;
  align-content: center;
  padding: 30px 10px;
  margin: 0 auto;
}

.content .hero .caption {
  width: 100%;
  font-size: 0.85em;
  padding: 10px;
  color: #666;
}

.content .hero #caption-p {
  width: 850px;
  text-align: left;
  font-size: 16px;
}
.caption p small{
  color: #888;
}
