/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: font-family: nyt-franklin, helvetica, arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* container */

#container {
  width: 100%;
}

/* Main Nav */

#container .nav {
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  border-bottom: 1px solid #e2e2e2;
  position: fixed;
  background-color: #fff;
  z-index: 2;
}

#container .nav .left-side a {
  margin-right: 12px;
  text-decoration: none;
  color: #000;
}

#container .nav .left-side a.space {
  padding: 10px 0;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.9;
  font-weight: 700;
}

#container .nav .left-side a.space:hover {
  text-decoration: underline;
}

#container .nav .middle-logo {
  height: 26px;
  width: 195px;
}

#container .right-side .btn {
  background-color: #567b95;
  border: 1px solid #326891;
  border-radius: 3px;
  padding: 11px 12px 8px;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  line-height: 11px;
  font-weight: 700;
  vertical-align: middle;
}

/* Main content */

#container .content {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.content .hero {
  grid-column: 2/8;
  margin-top: 50px;
}

.content .hero h1 {
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  width: 60%;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 0.7;
  text-align: left;
  font-style: italic;
  padding: 30px 10px;
  margin: 0 auto;
  color: #121212;
  line-height: 45px;
}

.content .hero .caption {
  width: 100%;
  font-size: 0.85em;
  padding: 10px;
  color: #666;
}

.content .hero #caption-p {
  width: 700px;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
}
.caption p small{
  color: #888;
}
.article-container{
  grid-column: 3/7;
  width: 88%;
  margin: 20px auto;
}
.article-container header {
  margin-bottom: 40px;
}
section.publish-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article-container .social-media-reaction {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
   
}
.publish-info .publish-name,
.publish-info .publisher-name a {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  margin-bottom: 20px;
  color: #333;
  font-weight: 700;
}

.publish-info .publisher-name a:hover {
  text-decoration: none;
}

time.publish-date {
  font-style: italic;
  font-size: 0.9rem;
}

.publish-info .icon-group{
  width: 40%;
}
.icon-group .size {
  height: 15px;
  width: 15px;
}

.icon-group .md-size {
  font-size: 24px;
  color: #888;
}
 .icon-group .circle {
  margin-right: 15px;
  padding: 5px;
  text-align: center;
  border-radius: 100%;
  background-color: #eee;
}

.icon-group .circle:hover {
  background-color: #fff;
  border: 1px solid #888;
}
article p {
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  color: rgb(51, 51, 51);
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.5;
}

article p strong {
  font-size: 1.3rem;
  font-weight: 700;
}

.content .inflation {
  grid-column: 2/8;
  width: 90%;
  width: 0 auto;
}

.inflation .inflation-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 140px);
  background: url(../img/inflation-945.png) no-repeat center center/cover;
  grid-gap: 20px;
  margin-top: 30px;
  
}


.editor-prick
{
  margin-left: 3rem;
  grid-column: 7/9;
  position: relative;
  top: -2300px;
}
.editor-prick h4{
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.02em;
  margin-bottom: 15px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgb(226, 226, 226);
  width: 65%;
}
.editor-prick-group{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.editor-prick-group img{
  width: 75px;
  height: 75px;
  object-fit: contain;
  padding-right: 0.6rem;
  
}
.editor-prick-group a {
  width: 45%;
  font-family: nyt-cheltenham-small, georgia, "times new roman";
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}
.editor-prick-group a:hover{
text-decoration: underline;
}

.inflation .inflation-header h3.inflation-headline {
  font-family: nyt-cheltenham,georgia,times new roman,times,serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  font-style: normal;
  color: #000;
  margin-bottom: 5px;
}

.inflation .inflation-header article.inflation-description p {
   font-size: 0.875em;
   line-height: 1.1rem;
   font-weight: 400;
   font-style: normal;
   color: #666;
}

.inflation-body .inflation-footer {
  grid-column: 1/3;
}

.inflation-body .inflation-group{
  position: relative;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000;
}

.inflation-body .top {
 
  grid-row: 2;
}
.inflation-body .bottom {
  
  grid-row: 4;

}

.inflation-body .inflation-group span {
   font-weight: 600;
}

.inflation-footer p::before {
  content: "";
  height: 1px;
  width: 60px;
  background-color: #000;
  border-top: 1px solid black;
  z-index: 222;
  display: block;
  margin-bottom: 10px ;
  
}

.inflation .inflation-footer {
  font-family: nyt-cheltenham,georgia,times new roman,times,serif;
  font-size: 14px;
  color: #333;
  margin: 50px 0px 30px 0;
}

.inflation-body .inflation-group span {
  font-weight: 600px;
}

article p a {
  color: #326891;
}

article p a:hover {
  text-decoration: none;
}

article p iframe {
  width: 100%;
}

div.caption-v {
  font-family: "Times New Roman";
  width: 85%;
  color: #666;
  font-size: 16px;
  line-height: 18px;
}

div.caption-v span {
  font-size: 14px;
  color: #888;
}

.p-v {
  margin-bottom: 0;
  padding-bottom: 0;
}

p.img-caption {
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    color: rgb(102, 102, 102);
    text-align: left;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    padding-top: 10px;
    margin-bottom: 20px;
}
p.img-caption span {
  font-style: 13px;
  font-weight: 400;
  letter-spacing: 0.13px;
  color: rgb(136, 136, 136);
}

.article-footer p {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(102, 102, 102);
    margin: 0px auto 1em;
}

.article-footer p a {
  color: rgb(102, 102, 102);
  border-right: 1px solid rgb(102, 102, 102);
  padding: 0 5px;
}

.article-footer p a:last-child {
  border-right: 0;
}

div.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 30px;
}

div.btn-group button {
  background-color: rgb(86, 123, 149);
  color: white;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
  text-transform: uppercase;
  width: 50%;
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  padding: 5px 0px;
}

div.btn-group .icon-group {
  align-self: center;
}
.footer {
  display: grid;

}

.footer .astronomy,.footer .footer-nav , .footer .b-footer{
  
  grid-template-columns: 70% 25%;
  width: 90%;
  grid-gap: 20px;
}
.footer .astronomy .img-group{
    grid-column: 2/8;
    
  }
.footer .astronomy .img-group img{
  width: 272px;
  height: 182px;
}
/* svg styles */
.css-r5ic95 {
  height: 13px;
  width: 13px;
}
